// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}

.letters {
  text-align: center;
  justify-content: center;
  display: flex;
}
.letter {
  font-size: 1.5rem;
  margin: 0 20px;
  padding: 40px;
  background-color: black;
  color: white;
}
